# Ignore model files and large data
*.h5
*.pkl 

# Ignore large CSVs but keep the final submission

test_*.csv 
train_*.csv 

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# VSCode/IDE specific
.vscode/
.idea/

# System files
.DS_Store*.h5
*.pkl 
__pycache__/
.ipynb_checkpoints/ 